---
import { Image } from "astro:assets";
import type Article from "../../interfaces/article";
import { l } from "astro-i18n";
import FormattedDate from "../shared/FormattedDate.astro";
import Icon from "astro-icon";
import Paragraph from "../shared/Paragraph.astro";

export type Props = {
  article: Article;
  className: string;
  orientation: "horizontal" | "vertical";
};

const { article, className, orientation } = Astro.props;
let flex;
if (orientation === "horizontal") {
  flex = "flex flex-col items-center gap-12 md:flex-row";
} else {
  flex = "flex flex-col items-center gap-12 md:flex-col";
}
---

<div
  class=`p-4 rounded-lg bg-white-100 dark:bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%] ${className}`
>
  <a
    href={`${l("blog", undefined, {
      targetLocale: article.attributes.locale,
    })}/${article.attributes.slug}`}
    target={"_self"}
  >
    <div class=`${flex}`>
      <Image
        src={article.attributes.featuredImage.data.attributes.url}
        alt={article.attributes.featuredImage.data.attributes.alternativeText ||
          "No alt text"}
        width={article.attributes.featuredImage.data.attributes.width}
        height={article.attributes.featuredImage.data.attributes.height}
        class="max-w-full md:max-w-[13rem] rounded-lg dark:text-gray-400"
        transition:name={"blogImg" + article.id}
      />
      <div>
        <h2
          class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl"
          transition:name={"blogTitle" + article.id}
          transition:animate="fade"
        >
          {article.attributes.title}
        </h2>
        <Paragraph className="py-1">{article.attributes.excerpt}</Paragraph>
        <div
          class="flex flex-row justify-between w-full md:justify-start gap-4"
        >
          <Paragraph className="text-sm">
            <Icon name="mdi:calendar" class="inline-block w-4 h-4 mr-1" />
            <FormattedDate date={new Date(article.attributes.publishedAt)} />
          </Paragraph>
          <Paragraph className="text-sm ">
            <Icon name="mdi:clock" class="inline-block w-4 h-4 mr-1" />
            {article.attributes.readingTime}
          </Paragraph>
          <Paragraph className="text-sm ">
            <Icon name="mdi:theme" class="inline-block w-4 h-4 mr-1" />
            {article.attributes.group.data.attributes.Name}
          </Paragraph>
          <Paragraph className="text-sm ">
            <Icon name="mdi:globe" class="inline-block w-4 h-4 mr-1" />
            {article.attributes.locale.toUpperCase()}
          </Paragraph>
        </div>
      </div>
    </div>
  </a>
</div>
