---
import qs from "qs";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { astroI18n } from "astro-i18n";
import type AboutUs from "../../interfaces/about-us";
import fetchApi from "../../lib/strapi";
import { Image } from "astro:assets";

const query = qs.stringify({
  populate: {
    featuredImage: {
      fields: ["name", "width", "height", "url"],
    },
  },
});

const aboutUs = await fetchApi<AboutUs>({
  endpoint: "about-us?locale=" + astroI18n.locale + "&",
  wrappedByKey: "data",
  query: query,
});
---

<section id="about-us">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <Image
          src={aboutUs.attributes.featuredImage.data.attributes.url}
          alt={aboutUs.attributes.featuredImage.data.attributes.alternativeText ||
            "No alt text"}
          width={aboutUs.attributes.featuredImage.data.attributes.width}
          height={aboutUs.attributes.featuredImage.data.attributes.height}
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
        />
      </div>
    </div>
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>
        {aboutUs.attributes.title}
      </Title>
      <Paragraph className="mt-8">
        {aboutUs.attributes.excerpt}
      </Paragraph>
      <div
        class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]"
      >
      </div>
    </div>
  </Container>
</section>
