---
import { createGetStaticPaths, t } from "astro-i18n";
import type SEOProps from "../../interfaces/seoProps";
import BaseLayout from "../../layouts/BaseLayout.astro";
import qs from "qs";
import fetchApi from "../../lib/strapi";
import type Group from "../../interfaces/group";
import Container from "../../components/shared/Container.astro";
import Paragraph from "../../components/shared/Paragraph.astro";
import Image from "astro/components/Image.astro";
import Title from "../../components/shared/Title.astro";
import Icon from "astro-icon";

export function getStaticPathsWithI18n(locale: string) {
  return createGetStaticPaths(async ({}) => {
    const query = qs.stringify({
      populate: {
        featuredImage: {
          fields: ["name", "width", "height", "url", "alternativeText"],
        },
        seo: {
          populate: "*",
        },
        localizations: {
          populate: "*",
        },
        authors: {
          populate: {
            bioImage: {
              fields: ["url", "name", "width", "height", "alternativeText"],
            },
            socials: {
              populate: "*",
            },
          },
        },
      },
    });
    const data = await fetchApi<Group[]>({
      endpoint: `groups?locale=${locale}&filters[Name][$ne]=Villa Vigoni&`,
      wrappedByKey: "data",
      query: query,
    });

    const seos: SEOProps[] = data.map((group) => {
      return {
        title: "",
        description: "",
        image: "",
        noindex: false,
        nofollow: false,
        ogBasic: {
          title: "",
          image: "",
          type: "",
          url: "",
        },
        ogOptional: {
          audio: undefined,
          description: undefined,
          determiner: undefined,
          locale: undefined,
          localeAlternate: undefined,
          siteName: undefined,
          video: undefined,
        },
        ogArticle: {
          publishedTime: undefined,
          modifiedTime: undefined,
          expirationTime: undefined,
          author: undefined,
          section: undefined,
          tags: undefined,
        },
        twitter: {
          card: undefined,
          site: undefined,
          creator: undefined,
          title: undefined,
          image: undefined,
          imageAlt: undefined,
          description: undefined,
        },
      };
    });

    const mappedPosts = data.map((group) => ({
      params: { slug: group.attributes.slug },
      props: {
        post: group,
        content_rehyped: group.attributes.Description,
        seo: seos[0],
      },
    }));

    return mappedPosts;
  });
}

export const getStaticPaths = getStaticPathsWithI18n("de");
type Props = {
  post: Group;
  content_rehyped: string;
  seo: SEOProps;
};
const { post, content_rehyped, seo } = Astro.props;
let socials = [
  {
    name: "Facebook",
    icon: "ic:baseline-facebook",
  },
  {
    name: "Twitter",
    icon: "mdi:twitter",
  },
  {
    name: "LinkedIn",
    icon: "mdi:linkedin",
  },
  {
    name: "WhatsApp",
    icon: "ic:baseline-whatsapp",
  },
  {
    name: "Email",
    icon: "ic:outline-email",
  },
  {
    name: "Instagram",
    icon: "mdi:instagram",
  },
];
---

<BaseLayout seo={seo}>
  <div class="pt-8 md:pt-16 flex flex-col gap-12">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
      <div
        class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
      >
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
        >
          {post.attributes.Name}
        </h1>
        <Paragraph className="mt-8">
          {post.attributes.Description}
        </Paragraph>
      </div>
      <div
        class="flex flex-1 lg:w-1/2 lg:h-auto lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
      >
        <Image
          src={post.attributes.featuredImage.data.attributes.url}
          alt={post.attributes.featuredImage.data.attributes.alternativeText ||
            "No alt provided"}
          width={720}
          height={480}
          class={"lg:w-full lg:h-full rounded-3xl object-cover aspect-ratio-3/2"}
        />
      </div>
    </Container>
    <Container>
      <div
        class="grid lg:grid-cols-2 grid-cols-1 justify-center justify-items-center items-center gap-8 lg:gap-12"
      >
        <div class="col-span-2">
          <Title>Unsere Autorinnen und Autoren</Title>
        </div>
        {
          post.attributes.authors.data.map((author) => {
            return (
              <div class="flex flex-col items-center gap-4">
                {author.attributes.bioImage.data ? (
                  <Image
                    src={author.attributes.bioImage.data.attributes.url}
                    alt={
                      author.attributes.bioImage.data.attributes
                        .alternativeText || "No alt provided"
                    }
                    width={200}
                    height={200}
                    class={"rounded-full"}
                  />
                ) : (
                  <Icon
                    name="mdi:person"
                    class="w-[200px] h-[200px] rounded-full bg-gray-200 p-2"
                    role="img"
                    aria-label="Avatar Icon"
                  />
                )}
                <div class="flex flex-col items-center gap-2">
                  <h3 class="text-2xl font-bold text-heading-1">
                    {author.attributes.name}
                  </h3>
                  <Paragraph className="hyphens-auto text-center">
                    {author.attributes.bio}
                  </Paragraph>
                  <div class="flex flex-row gap-2">
                    {author.attributes.socials &&
                      author.attributes.socials.map((social) => {
                        return (
                          <a
                            href={social.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex items-center gap-2 text-gray-600 hover:text-blue-600"
                          >
                            <Icon
                              name={
                                socials.find((s) => s.name === social.platform)
                                  ?.icon || "mdi:link"
                              }
                              class="w-6 h-6 fill-gray-600 hover:fill-blue-600"
                              aria-hidden="true"
                            />
                          </a>
                        );
                      })}
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </Container>
    <Container>
      <Title>Unsere Beiträge</Title>
    </Container>
  </div>
</BaseLayout>
