---
import Hero from "../components/sections/Hero.astro";
import Categories from "../components/sections/Categories.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import CTA from "../components/sections/CTA.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ByNumber from "../components/sections/ByNumber.astro";
import { astroI18n, t } from "astro-i18n";
import type SEOProps from "../interfaces/seoProps";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "../config";

const structured_data = [
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    image: "https://www.giyv.eu/images/og_image.png",
    url: "https://www.giyv.eu",
    sameAs: ["https://www.instagram.com/giyv_eu", "https://www.villavigoni.eu/event/young-voices/"],
    logo: "https://www.giyv.eu/images/logo.png",
    name: "German-Italian Young Voices",
    alternateName: "GIYV",
    description: t("seo.home.description"),
    email: "info@giyv.eu",
  },
];

const seo: SEOProps = {
  title: SITE_TITLE,
  description: t("seo.home.description"),
  image: "/images/og_image.png",
  nofollow: false,
  noindex: false,
  localizations: [
    {
      href: `${SITE_URL}/en/`,
      hrefLang: "en",
    },
    {
      href: `${SITE_URL}/it/`,
      hrefLang: "it",
    },
    {
      href: `${SITE_URL}`,
      hrefLang: "de",
    },
  ],
  ogBasic: {
    image: "/images/og_image.png",
    title: SITE_TITLE,
    type: "website",
    url: SITE_URL,
  },
  ogOptional: {
    description: t("seo.home.description"),
    locale: astroI18n.locale,
    localeAlternate: astroI18n.locales,
  },
  ogArticle: {},
  twitter: {
    card: "summary_large_image",
    site: "@giyv_eu",
    image: "/images/og-image.png",
    imageAlt: SITE_TITLE,
    title: SITE_TITLE,
    description: t("seo.home.description"),
  },
};
import LatestArticles from "../components/elements/LatestArticles.astro";
---

<BaseLayout seo={seo} structured_data={structured_data}>
  <div class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <LatestArticles />
    <ByNumber />
    <Categories />
    <AboutUs />
    <CTA />
  </div>
</BaseLayout>
