---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SEO } from "astro-seo";

import { SITE_TITLE } from "../config";
import type SEOProps from "../interfaces/seoProps";

export interface Props extends SEOProps {}

const seo = Astro.props;
---

<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
  rel="preload"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<!-- Global Metadata -->
<meta charset="utf-8" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{seo.title + " 🇪🇺 " + SITE_TITLE}</title>

<SEO
  title={seo.title}
  description={seo.description}
  languageAlternates={seo.localizations}
  titleTemplate={"%s 🇪🇺 " + SITE_TITLE}
  titleDefault={SITE_TITLE}
  noindex={seo.noindex}
  nofollow={seo.nofollow}
  openGraph={{
    basic: {
      title: seo.ogBasic.title || seo.title,
      type: seo.ogBasic.type || "website",
      image: new URL(seo.ogBasic.image, Astro.url).toString(),
      url: Astro.url.href as string,
    },
    optional: {
      audio: seo.ogOptional.audio,
      description: seo.ogOptional.description,
      determiner: seo.ogOptional.determiner,
      locale: seo.ogOptional.locale,
      localeAlternate: seo.ogOptional.localeAlternate,
      siteName: seo.ogOptional.siteName,
      video: seo.ogOptional.video,
    },
    article: {
      publishedTime: seo.ogArticle.publishedTime,
      modifiedTime: seo.ogArticle.modifiedTime,
      expirationTime: seo.ogArticle.expirationTime,
      authors: seo.ogArticle.author,
      section: seo.ogArticle.section,
      tags: seo.ogArticle.tags,
    },
  }}
  twitter={{
    title: seo.twitter.title || seo.title,
    image: new URL(
      seo.twitter.image || seo.ogBasic.image,
      Astro.url,
    ).toString(),
    imageAlt: seo.twitter.imageAlt,
    description: seo.twitter.description || seo.description,
    card: seo.twitter.card,
    site: seo.twitter.site,
  }}
  extend={{
    link: seo.extend?.link,
    meta: seo.extend?.meta,
  }}
/>

<!-- Cookie Consent -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0-rc.17/dist/cookieconsent.css"
/>

<!-- Google tag (gtag.js) -->
<script
  type="text/plain"
  data-category="analytics"
  data-service="Google Analytics"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-GMNBBQMNLC"></script>
<script
  type="text/plain"
  data-category="analytics"
  data-service="Google Analytics"
>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-GMNBBQMNLC");
</script>
