---
import { Image } from "astro:assets";
import FormattedDate from "../components/shared/FormattedDate.astro";
import Title from "../components/shared/Title.astro";
import type Article from "../interfaces/article";
import BaseLayout from "./BaseLayout.astro";
import Container from "../components/shared/Container.astro";
import Paragraph from "../components/shared/Paragraph.astro";

export interface Props extends Article {}

const article = Astro.props;
console.log(article.attributes.group);
---

<BaseLayout
  title={article.attributes.title}
  description={article.attributes.excerpt}
  image={article.attributes.featuredImage.data.attributes.url}
  language={article.attributes.locale}
>
  <section class="relative pt-12 lg:pt-16">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
      <article class="min-w-full md:py-4 sm:max-w-none md:max-w-none">
        <header class="mb-3 flex flex-col justify-center items-center gap-6">
          <div class="flex flex-col gap-2">
            <div class="flex items-center justify-center gap-x-1">
              <p class="text-center text-sm">
                Published <FormattedDate
                  date={new Date(article.attributes.publishedAt)}
                />
              </p>
              <p class="text-center text-sm font-bold">
                - {article.attributes.readingTime}
              </p>
            </div>
            <Title>
              {article.attributes.title}
            </Title>
            <Paragraph className="text-center">
              By group <span class="underline"
                >#{article.attributes.group.data.attributes.Name}</span
              >
            </Paragraph>
          </div>
          <Image
            src={article.attributes.featuredImage.data.attributes.url}
            alt={article.attributes.featuredImage.data.attributes
              .alternativeText || "No alt text"}
            width={1000}
            height={500}
            quality={100}
            format="jpg"
            loading="eager"
            class="rounded-md w-full max-h-[300px] md:max-h-[500px] my-8 object-cover"
            transition:name={"blogImg" + article.id}
          />
          <hr class="w-full border-gray-300 dark:border-gray-700" />
          <div
            class="md:grid md:grid-cols-3 md:gap-32 sm:grid-cols-1 sm:gap-0 sm:gap-8 sm:mt-8 grid-rows-1"
          >
            <div class="col-span-1 order-last">
              <Title class="text-center text-sm">Check out our Post</Title>
              {
                article.attributes.instagramPost.map((post) => {
                  return post.images.data.map((image) => {
                    return (
                      <>
                        <Image
                          src={image.attributes.url}
                          alt={
                            image.attributes.alternativeText || "No alt text"
                          }
                          width={500}
                          height={500}
                          class=""
                        />
                      </>
                    );
                  });
                })
              }
              <p class="font-bold">{"Written by".toUpperCase()}</p>
              {
                article.attributes.group.data.attributes.authors.data
                  .sort((a, b) =>
                    a.attributes.name.localeCompare(b.attributes.name),
                  )
                  .map((author) => {
                    return (
                      <>
                        {author.attributes.bioImage.data && (
                          <Image
                            src={author.attributes.bioImage.data.attributes.url}
                            alt={
                              author.attributes.bioImage.data.attributes
                                .alternativeText || "No alt text"
                            }
                            width={100}
                            height={100}
                            class="rounded-full"
                          />
                        )}
                        <p>{author.attributes.name}</p>
                        <p>{author.attributes.bio}</p>
                      </>
                    );
                  })
              }
            </div>
            <div class="order-last md:order-first col-span-2">
              <slot />
            </div>
          </div>
        </header>
      </article>
    </Container>
  </section>
</BaseLayout>
